body {
    font-family: 'Raleway' !important;
    background-color: #121212;
}
#main{
    color: white;
}
a{
    color: #BB86FC;
}
a:visited{
    color: #ee72f1;
}
h1 {
    font-size: 2.5em;
    font-weight: medium;
}
p {
    font-size: 1.2em;
    font-weight: regular;
}

img { 
    max-width: 30em;
}  